*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.first{
	background-image: url(../img/fon.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;	
	width: 100%;
	height: 100vh;
}
.first_nav__content{
	padding: 0 180px;
}
.first_nav{
	width: 	100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.first_nav__links{
	display: flex;
	gap: 30px;
}
.first_nav__links i{
	font-size: 25px
}
.first_text{
	width: 480px;
	height: 280px;
	background-color: #F8F200;
	clip-path: polygon(0 22%, 13% 0, 100% 0, 100% 78%, 87% 100%, 0 100%);
	display: flex;	
	justify-content: center;	
	align-items: center;
	
}
.first_text button{
	padding: 5px 15px
	font-size: 20px;
	padding: 15px 40px;
	color: #F8F200;
	background-color: black;
	font-family: "Roboto", sans-serif;
	transition: 0.5s;
}
.first_text button:hover{
	color: red;
	background-color: #fff;
	 transform: scale(1.2);
}
.first_text h2{
	font-size: 48px;
	font-family: "Roboto", sans-serif;
}
.first_content{
	height: calc(100vh - 100px);
	display: flex;	
	justify-content: flex-end;
	align-items: flex-end;

}
.second_content{
	padding: 50px 130px;
}
.second_content__text{
	font-family: "Roboto", sans-serif;
}
.second_content__text h1{
	font-size: 62px;
	font-weight: 500px;
	line-height: 100%;
}
span {
	color: #00f0ff;
	font-weight: 700px;
	font-size: 18px;
	line-height: 30px;
}
.second_content__text p{
	margin: 30px 0;
	font-size: 18px;
	line-height: 30px;
}
.second_content__images{
	margin: 38px 0;
	display: flex;
	justify-content: space-between;
	gap: 30px;

}
.second_content__image{
	width: 100%;
	display: flex;
	flex-direction: column;
	gap:30px;
}
.second_content__image img{
	max-width: 460px;
	height: 196;
}
.third_fon__one{
	border-image: 
}
.third_fon__one{
	background-image: url(../img/fon1.png);
	height: 70px;
}
.third_content__one{
	display: flex;
	margin-top: 25px;
}
.third_content{
	padding: 10px 110px;	
	background-color: black;
	height: 100vh;
}
.third_content__text img{
	width: 132px
}
.third_fon__two{
	background-image: url(../img/fon2.png);
	height: 70px;
}
.third_content__text{
	display: flex;
	gap: 30px;
}
.third_content__text h1{
	color: white;
	height: 75px;
	display: flex;
	align-items: center;
	font-size: 62px;
	line-height: 100%;
	font-family: "Roboto", sans-serif;
}
.third_content__text__two p{
	font-family: "Roboto", sans-serif;
	color: white;
	font-size: 18px;
	line-height: 30px;
}
input{
	width: 460px;
	height: 35px;
	background-color: black;
	outline: none;
	color: white;
	border: 0;
	border-bottom: 1px solid #777777;	

}
input::placeholder{
	color: white;
}
.third_content__two{
	display: block;
	width: 460px;
	margin: 17px 0;
}
.third_content__one__top{
	max-width: 460px;
}
.third_content__one__bottom{
	max-width: 460px;
}

.file-input{
	color: white;
}

.underline{
	text-decoration: underline;
	color: white;
}
.third_content__one__screenshot{
	width: 460px;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: dashed #777777;
	margin-top: 30px;
	transition: 0.8s
}
.third_content__one__screenshot:hover{
	background-color: red;
	
}
.third_content__one__button button{
	padding: 19px 50px;
	margin-top: 35px;
	background-color: #F8F200;
	font-weight: 800;
	transition: 0.5s;
}
.third_content__one__button button:hover{
	color: red;
	background-color: #fff;
	transform: scale(1.2);
}
.checkbox{
	color: white;
	max-width: 20px;
}
.checkbox input{
	max-width: 20px;
	height: 14px;
}
.third_content__one__checkbox{
	margin-top: 15px;
	direction: flex;
	align-items: center;
}
